# **Day 1 ‚Äì Getting Started with Python & Organising Data**

## **Welcome to Python!**

The `print()` function tells Python to display something on the screen. It's our first command!

In [1]:
# Welcome message
print("üëã Hello, Python!")
print("Let's learn how to code together!")

üëã Hello, Python!
Let's learn how to code together!

In [2]:
print("My name is Huzaifa")

My name is Huzaifa

## **Variables and Data Types**

üß† Quick Concepts:

- Integers (`int`) are whole numbers.
- Floats are decimal numbers.
- Strings (`str`) are words or sentences.
- Booleans (`bool`) are True/False values.

‚úÖ Try It Yourself!
Change the values above to match your `name`, `age`, and `height`!

In [3]:
# Integer
age = 24.0
# Float
height = 5.1
# String
name = "Huzaifa"
# Boolean
is_student = True

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Student?", is_student)

Name: Huzaifa
Age: 24.0
Height: 5.1
Student? True

In [4]:
type(age)

float

In [5]:
type(name)

str

In [6]:
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>

**üß† Mini Challenge:**

Create your own variables ‚Äî `city`, `temperature`, and `is_raining`.
Print a sentence like:
> "It is raining in Karachi today, temperature is 28¬∞C."

## **Arithmetic Operators**

**Example: Mini Calculator**

In [7]:
# Let's build a simple calculator
num1 = 12.0
num2 = 5

add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
rem = num1 % num2

print("Addition:", add)
print("Subtraction:", sub)
print("Multiplication:", mul)
print("Division:", div)
print("Rem", rem)

Addition: 17.0
Subtraction: 7.0
Multiplication: 60.0
Division: 2.4
Rem 2.0

In [8]:
int(add)

17

**üéØ Task:**
Try changing num1 and num2. What happens?

---

# **Introduction to Python Data Structures**

---

## **Lists - Storing Items in Order**

üß† Note: Lists keep items in order and allow duplicates.

In [9]:
# A list of student names
students = ["Ali", "Sara", "Zara", "Ahmed"]
print("Students:", students)

# Accessing elements
print("First student:", students[0])

# Adding a student
students.append("Bilal")
print("After adding:", students)

# Removing a student
students.remove("Sara")
print("After removing:", students)

Students: ['Ali', 'Sara', 'Zara', 'Ahmed']
First student: Ali
After adding: ['Ali', 'Sara', 'Zara', 'Ahmed', 'Bilal']
After removing: ['Ali', 'Zara', 'Ahmed', 'Bilal']

## **Tuples - Ordered, Unchangeable**

In [10]:
dimensions = (1920, 1080)
print("Screen resolution:", dimensions)

Screen resolution: (1920, 1080)

In [11]:
dimensions[0] = 780

TypeError: 'tuple' object does not support item assignment

In [12]:
students [0] = "Huzaifa"

In [13]:
students

['Huzaifa', 'Zara', 'Ahmed', 'Bilal']

üß† Note:

- Tuples are like lists, but you cannot change their values after creation.
- Use tuples when you want to protect the data from being modified.

---


## **Lists vs Tuples - What Can You Change?**

In [14]:
# LIST: You can change, add, or remove items
fruits_list = ["apple", "banana", "cherry"]
print("Original List:", fruits_list)

# Changing an item
fruits_list[1] = "blueberry"
print("After change:", fruits_list)

# Adding a new item
fruits_list.append("mango")
print("After appending:", fruits_list)

# Removing an item
fruits_list.remove("apple")
print("After removing:", fruits_list)

Original List: ['apple', 'banana', 'cherry']
After change: ['apple', 'blueberry', 'cherry']
After appending: ['apple', 'blueberry', 'cherry', 'mango']
After removing: ['blueberry', 'cherry', 'mango']

In [15]:
# TUPLE: You cannot change items
fruits_tuple = ("apple", "banana", "cherry")
print("Original Tuple:", fruits_tuple)

# Let's try to change the second item
# This will cause an error!
fruits_tuple[1] = "blueberry"  # ‚ùå ERROR!

Original Tuple: ('apple', 'banana', 'cherry')

TypeError: 'tuple' object does not support item assignment

### üîç ***List vs Tuple***

| Feature              | List                          | Tuple                         |
|----------------------|-------------------------------|-------------------------------|
| Syntax               | `["apple", "banana"]`         | `("apple", "banana")`         |
| Changeable (Mutable) | ‚úÖ Yes ‚Äì you can modify it     | ‚ùå No ‚Äì fixed after creation  |
| Add/Remove items     | ‚úÖ Yes ‚Äì use `.append()` etc. | ‚ùå No                         |
| Use Case             | When data may change          | When data must stay the same  |

üëâ Use **lists** when your data can grow or change.  
üëâ Use **tuples** when your data must stay safe and unchanged.

## **Dictionaries - Pairing Data**

In [16]:
# Dictionary of student marks
marks = {
    "Ali": 85,
    "Zara": 92,
    "Ahmed": 76,
    "4200099064441": 24
}

age_dict ={
    "Huzaifa": 18, # "key": value
    "Ayesha": 19,
    "Mustafa": 8
}


print("Zara's marks:", marks["4200099064441"])

# Adding a new student
marks["Bilal"] = 88
print("Updated Marks:", marks)

Zara's marks: 24
Updated Marks: {'Ali': 85, 'Zara': 92, 'Ahmed': 76, '4200099064441': 24, 'Bilal': 88}

## **Sets - Keeping Unique Items**

üìå Note: Sets don‚Äôt keep order and remove duplicates automatically.

In [17]:
# Set of unique classes
classes = {"Math", "Science", "English", "Math"}
print("Classes:", classes)

Classes: {'English', 'Science', 'Math'}

---

## üìä ***Comparison of Python Data Structures***

| Feature       | List                        | Tuple                       | Set                         | Dictionary                     |
|---------------|-----------------------------|-----------------------------|------------------------------|--------------------------------|
| Ordered?      | ‚úÖ Yes                      | ‚úÖ Yes                      | ‚ùå No                       | ‚úÖ Yes (from Python 3.7+)      |
| Changeable?   | ‚úÖ Yes (mutable)            | ‚ùå No (immutable)           | ‚úÖ Yes                       | ‚úÖ Yes                         |
| Duplicates?   | ‚úÖ Yes                      | ‚úÖ Yes                      | ‚ùå No (only unique values)   | ‚ùå No duplicate keys           |
| Access by?    | Index (0, 1, 2...)          | Index (0, 1, 2...)          | No index (loop only)         | Key (`dict["key"]`)           |
| Use Case      | Ordered collection of items | Fixed data like coordinates | Unique values like tags      | Paired data like name:score   |

---

### üß† When to Use What?

- **List**: When you need a changeable sequence ‚Äì like a shopping list or student names.
- **Tuple**: When data shouldn't change ‚Äì like screen size or date of birth.
- **Set**: When you need **only unique items** ‚Äì like subject names or tags.
- **Dictionary**: When pairing items ‚Äì like student names with their marks.

---


## **Mini Project: Grade Book App (Basic)**

üéØ Challenge:

- Add 2 more students.
- Try printing only the students who scored more than 80.

In [19]:

# Create a list of students and their marks using a dictionary



# Print all students and their marks

## **üß™ Exercise: Let‚Äôs Practice!**

In [20]:
# TODO: Create your own list of 5 favorite foods
# TODO: Make a dictionary of 3 countries and their capitals
# TODO: Use print statements to show your results

# **Decisions Control: `if`, `elif`, `else`**

Sometimes we want the computer to do different things depending on the situation.

Just like:
- If it's raining, take an umbrella.
- If it's sunny, wear sunglasses.

Python uses `if`, `elif`, and `else` to do this.

In [21]:
weather = "sunny"

if weather == "sunny":
    print("Wear sunglasses üòé")
elif weather == "rainy":
    print("Take an umbrella ‚òî")
else:
    print("Check the weather app again üßê")

Wear sunglasses üòé

This ladder perfectly reseumbles how computer processes IF ELSE Logic

<img src = "https://kodular-community.s3.dualstack.eu-west-1.amazonaws.com/original/3X/2/9/299d85b97d5c37a343d1e5ddc6b10f8752de3be7.jpeg">

## **‚úÖ Practice: Student Grade Check**

Write a program that prints a message based on the student's marks.

- 90 or more ‚Üí "Excellent!"
- 70 to 89 ‚Üí "Good job!"
- Below 70 ‚Üí "Needs improvement"

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQduBA-HRHwwLXIgTpHvKdxq7fwdlO_w4e4Sw&s">

## **üîó Logical Operators: `and`, `or`, `not`**

You can also check more than one condition at a time.

- `and` ‚Üí both must be true  
- `or` ‚Üí at least one must be true  
- `not` ‚Üí flips true to false, or false to true

In [22]:
age = 10
has_ticket = False

if age >= 10 and has_ticket:
    print("You can enter the movie üçø")
elif age >= 10 and not has_ticket:
    print("You need a ticket üé´")
else:
    print("Sorry, not allowed üö´")

You need a ticket üé´

### **üß™ Try This:**

Make a program to check if a student can go on a field trip.

They can go if:
- They have a permission slip **or**
- Their parent is with them.

In [23]:
has_permission = True
with_parent = False

if has_permission and with_parent:
    print("You can go on the trip! üöå")
else:
    print("Sorry, you can't go this time.")

Sorry, you can't go this time.

---

**`Below is te iconic and hysterical meme`**

<img src = "https://media.licdn.com/dms/image/v2/D4D22AQGwGKoc_4aqAw/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1710168701460?e=2147483647&v=beta&t=UNvovmr8ITSLFxXneV8s7XUwNz8VMddr171RwuqlSUs">